@import url('https://fonts.googleapis.com/css2?family=Laila&family=Lalezar&display=swap');

/* Colour pallet */

:root {
    --light-grey: #DDDEC6;
    --dark-grey: #666666;
    --dark-tan: #453831;
    --red: #BB0000;
    --black: #000000;
}

/* --------- Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Laila', sans-serif;
}

.grid {
    display: grid;
}

.center-content {
    justify-content: center;
}

.center-items {
    justify-items: center;
}

.flex {
    display: flex;
}

img {
    height: 7em;
}

/* Removes default anchor background */
a {
    background-color: rgba(0, 0, 0, 0);
}

/* ------------Betting section style */

#bet-section {
    width: 100%;
    border-top: 0.15em solid var(--black);
    border-bottom: 0.15em solid var(--black);
    box-shadow: 0 0 15px;
}

#bet-container {
    background-color: rgba(221, 222, 198, 0.7);
    padding-top: 0.5em;
    height: 4em;
}

.bet-chips img {
    height: 3em;
    margin: 0 0.2em;
}

.bet-chips img:hover {
    translate: 0 -0.3em;
    scale: 1.2;
    transform-origin: left;
    border-radius: 50%;
    border: 0.2em solid yellow;
    transform-origin: top;
}

/* ----------- Button style */

.control-btn {
    width: 6em;
    height: 2em;
    background-color:var(--red);
    color: var(--light-grey);
    font-family: 'Lalezar', cursive;
    font-size: 1.2em;
    margin: 0.5em;
    border-radius: 0.3em;
    border: 0.15em solid var(--black);
    box-shadow: 0.1em 0.1em 0.3em var(--black);
}
