@import url('https://fonts.googleapis.com/css2?family=Laila&family=Lalezar&display=swap');

/* Colour pallet */

:root {
    --light-grey: #DDDEC6;
    --dark-grey: #666666;
    --dark-tan: #453831;
    --red: #BB0000;
    --black: #000000;
}

/* --------- Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Laila', sans-serif;
}

.grid {
    display: grid;
}

.center-content {
    justify-content: center;
}

.center-items {
    justify-items: center;
}

.flex {
    display: flex;
}

img {
    height: 7em;
}

/* Removes default anchor background */
a {
    background-color: rgba(0, 0, 0, 0);
}

/* ------------Table bet style */

#bet-position-container {
    width: 3em;
    height: 1.7em;
    background-color: rgba(221, 222, 198, 0.5);
    border-radius: 0.05 solid black;
    box-shadow: 0 0.15em 0.5em rgba(221, 222, 198, 1),
                0 0.25em 0.6em black;
    border-radius: 50%;
    margin: 1em;
}

#bet-position {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(187, 0, 0, 1), rgba(187, 0, 0, 0) 75%);
    border-radius: 50%;
}

/* ------------Betting section style */

#bet-section {
    width: 100%;
    border-top: 0.15em solid var(--black);
    border-bottom: 0.15em solid var(--black);
    box-shadow: 0 0 15px;
}

#bet-container {
    background-color: rgba(221, 222, 198, 0.7);
    padding-top: 0.5em;
    height: 4.3em;
}

.bet-chips button {
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgba(221, 222, 198, 0.7);
}

.bet-chips button:hover img, .bet-chips button:focus img {
    translate: 0 -0.4em;
    scale: 1.2;
    transform-origin: left;
    border-radius: 50%;
    border: 0.2em solid yellow;
    transform-origin: top;
}

.bet-chips img {
    height: 3.8em;
    margin: 0.1em 0.2em;
}

/* ----------- Button style */

.control-btn {
    width: 6em;
    height: 2em;
    background-color:var(--red);
    color: var(--light-grey);
    font-family: 'Lalezar', cursive;
    font-size: 1.2em;
    margin: 0.5em;
    border-radius: 0.3em;
    border: 0.15em solid var(--black);
    box-shadow: 0.1em 0.1em 0.3em var(--black);
}

.control-btn:hover, .control-btn:focus{
    scale: 1.05;
    box-shadow: 0.1em 0.1em 0.5em var(--black);
    outline: none;
}

/* Hides play buttons initially */
.play-btn {
    display: none;
}
